body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: row;
    margin: 0;
}
.sidebar {
    width: 200px;
    background-color: #66BB6A;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    padding-top: 20px;
}
.logo {
    width: 150px;
    height: 50px;
    object-fit: contain; /* 로고 비율 유지 */
    margin-bottom: 20px;
}

.sidebar button {
    background-color: #66BB6A;
    color: white;
    border: none;
    padding: 15px;
    text-align: left;
    cursor: pointer;
    width: 100%;
    border-bottom: 1px solid #4CAF50;
}
.sidebar button:hover {
    opacity: 0.8;
}
.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.upload-container {
    background-color: #C5DEDA;
    padding: 30px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 600px;
    border-radius: 10px;
}

.upload-box {
    background-color: #E8F5E9; /* 부드러운 녹색 계열 */
    padding: 15px;
    width: 80%;
    height: 50px;
    border: 2px solid #9CB4D4;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px; /* 입력 칸 사이 간격 추가 */
}

.summary-box {
    height: 150px;
}

.upload-box:focus {
    outline: 2px solid #388E3C;
}

.register-button {
    background-color: #388E3C;
    color: white;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #2E7D32;
}





html, body {
    height: 100%;
    margin: 0;
}
.sidebar {
    height: 100vh; /* 화면 전체 높이 차지 */
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
}
.main-content {
    margin-left: 200px; /* 사이드바 공간 확보 */
    padding-bottom: 50px; /* 아래쪽 여백 확보 */
}
.notice-container {
    background-color: #C5DEDA; /* 기존 스타일 유지 */
    padding: 30px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 450px;
    border-radius: 10px;
    margin-bottom: 100px;
}

.notice-box {
    background-color: #E8F5E9; /* 부드러운 녹색 계열 */
    padding: 15px;
    width: 80%; /* 가로 길이 고정 */
    min-height: 200px; /* 최소 높이 설정 (너무 작아지는 것 방지) */
    height: auto; /* 내용에 따라 높이 자동 조절 */
    border: 2px solid #9CB4D4;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px; /* 간격 추가 */
}



.notice-register-button {
    background-color: #388E3C;
    color: white;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.notice-register-button:hover {
    background-color: #2E7D32;
}
